.tableContainer {
    text-align: left;
    width: 50%;
}

.searchResultTable {
    width: 100%;
}

.tableContainer thead {
    background-color: var(--color-primary);
}

th {
    width: 50%;
}

.dataRow {
    border-radius: 5%;
}

.dataRow td {
    padding: 10px;
}