.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.pageName p {
    font-family: "Pacifico", cursive;
    font-size: xxx-large;
}

.profileAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid grey;
}