.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.pageName {
    width: 300px;
}

.title {
    font-family: var(--font-headers);
    font-size: xxx-large;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
}

.navListItem {
    list-style: none;
    font-family: var(--font-headers);
    font-size: x-large;
}

.avatarContainer {
    width: 300px;
}

.profileAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid grey;
}

.navbar a {
    background-image: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-primary) 50%,
        var(--color-text) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    background-position: 0;
}

.navbar a:hover::before {
    width: 100%;
}