.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.pageName {
    width: 300px;
}

.pageName p {
    font-family: "Pacifico", cursive;
    font-size: xxx-large;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
}

.navListItem {
    list-style: none;
    font-family: "Pacifico", cursive;
    font-size: x-large;
}

.navListItem a {
    text-decoration: none;
    color: var(--color-text);
}

.avatarContainer {
    width: 300px;
}

.profileAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid grey;
}